################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Automapper.console/.vs
/Automapper.console/Automapper.console/obj/Debug/net8.0
